<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header class="header">
    <a href="/" class="logo-link">
      <img src="{{ '/assets/alien-icon.png' | relative_url }}" alt="Alien Icon" class="alien-icon">
      <img src="{{ '/assets/alien-text.png' | relative_url }}" alt="ALIEN" class="alien-text">
    </a>
    <div class="nav">
      <a href="#">ERROR 404</a>
      <a href="#">Archivo corrupto</a>
      <a href="#">Psicosis colectiva</a>
      <a href="#">Sin-ismos</a>
      <a href="#">El sueño del androide</a>
    </div>
  </header>

  {{ content }}
</body>
</html>
